{% extends "layout.html" %}

{% block content %}

<div class="card p-4">

<h4>Company Registration</h4>

<form method="POST">

<div class="mb-3">
<label>HR Name</label>
<input type="text" name="name" class="form-control" required>
</div>

<div class="mb-3">
<label>Company Name</label>
<input type="text" name="company_name" class="form-control" required>
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label>Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<div class="mb-3">
<label>HR Contact</label>
<input type="text" name="hr_contact" class="form-control">
</div>

<div class="mb-3">
<label>Website</label>
<input type="text" name="website" class="form-control">
</div>

<button type="submit" class="btn btn-success">Register</button>

</form>

</div>

{% endblock %}