{% extends "layout.html" %}

{% block content %}

<h3>Student Dashboard</h3>

<a href="/student/applications" class="btn btn-primary mb-3">
View My Applications
</a>

<table class="table table-bordered">

<tr>
<th>Drive ID</th>
<th>Job Title</th>
<th>Description</th>
<th>Eligibility</th>
<th>Deadline</th>
<th>Action</th>
</tr>

{% for drive in drives %}

<tr>

<td>{{ drive.id }}</td>
<td>{{ drive.job_title }}</td>
<td>{{ drive.job_description }}</td>
<td>{{ drive.eligibility_criteria }}</td>
<td>{{ drive.application_deadline }}</td>

<td>
<a href="/student/apply/{{ drive.id }}" class="btn btn-success btn-sm">
Apply
</a>
</td>

</tr>

{% endfor %}

</table>

{% endblock %}